@import "../../../styles/properties";

.root {
  text-align: center;
  &:nth-child(odd) {
    background-color: #fcfcfc;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $borderColor;
  }
  &__head {
    &:first-child {
      padding: 0.05rem 0;
      & li {
        padding: 0.025rem 0;
      }
    }
  }
}

.items {
  width: 100%;
}
