@import "../../../styles/properties";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 2.5px;
  color: $linkColor;
  font-size: 0.15rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 0.5;
  }
  @include sp {
    height: 40px;
  }
}

.label {
  padding-top: 0.025rem;
  font-size: 0.1rem;
}
