@import "../../../styles/properties";

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 30%;
  padding: 0.05rem;
  @include tab {
    width: 50%;
    padding: 0.05rem 0;
  }
  @include sp {
    width: 100%;
  }
}

.icon {
  padding-right: 0.1rem;
  color: $mainColor;
}

.label {
  @include sp {
    font-size: 0.105rem;
  }
}
