@import "../../../styles/properties";

// theadの幅を定義
$thWidth: 80px;

.root {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $thWidth;
  color: #fff;
  padding: 10px;
  background-color: $mainColor;
  border-radius: 5px 0 0 5px;
  @include sp {
    width: 48px;
    padding: 5px;
  }
}

.body {
  width: calc(100% - #{$thWidth});
  padding: 10px;
  line-height: 0.22rem;
  border-bottom: 1px solid #{$borderColor};
}
