@import "../../../styles/properties";

.root {
  display: flex;
  @include sp {
    flex-wrap: wrap;
  }
}

.item {
  display: flex;
  align-items: center;
  @include sp {
    width: 100%;
  }
}

.icon {
  padding: 0 5px;
  font-size: 0.14rem;
}

.link {
  color: $linkColor;
}
