@import "../../../styles/properties";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(#{$pc-lg} - 40px);
  height: 100%;
  padding: 0 0.35rem 0 0.4rem;
  margin: 0 auto;
  @include tab {
    justify-content: left;
    padding: 0 0.3rem 0;
    box-shadow: 0 5px 5px #33333344;
  }
  &__open {
    max-width: calc(#{$pc-lg} - 150px);
  }
}

.title {
  color: $mainColor;
  font-family: $strongFont;
  font-size: 0.18rem;
  letter-spacing: 0.06rem;
  @include tab {
    margin: 0 auto;
    color: #fff;
  }
  @include sp {
    font-size: 0.15rem;
    letter-spacing: 0.04rem;
  }
}
