$defaultFontSize: 0.11rem;

$defaultFont: "メイリオ", Meiryo, "ヒラギノ角ゴシック", "Hiragino Sans",
  sans-serif;
$strongFont: "Shrikhand", cursive;

// メインカラー変数
$defaultColor: #868686;
$defaultBackColor: #f1f1f1;
$blackColor: #3a3a3a;
$mainColor: #74c9d8;
$borderColor: #e0e0e0;
$linkColor: #8197e0;
$errorColor: #eb7f7f;
// サブカラー変数
$subColorRed: #fd6f90aa;
$subColorYellow: #fff6b0aa;
$subColorBlue: #3a90b8aa;
$subColorSkin: #080807aa;
$subColorGreen: #94d7c7aa;

// レスポンシブを定義
$max: 1481px;
$pc-lg: 1480px;
$pc-md: 1080px;
$tab: 768px;
$sp: 480px;
$sp-min: 320px;

@mixin max {
  @media screen and (min-width: $max) {
    @content;
  }
}

@mixin pc-lg {
  @media screen and (max-width: $pc-lg) {
    @content;
  }
}

@mixin pc-md {
  @media screen and (max-width: $pc-md) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: $tab) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}
