@import "./properties";

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  background-color: $mainColor;
  box-shadow: 3px 0 5px #bebebe77;
  z-index: 9;
  @include tab {
    display: none;
  }
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
