@import "./properties";

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  background: $mainColor;
  border-bottom: 1px solid #e4e4e4;
  z-index: 10;
  @include tab {
    width: 100%;
    height: 40px;
    left: 0;
  }
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $pc-lg;
  min-width: $pc-md;
  margin: 0 auto;
  padding: 0.8rem 0.35rem 0.35rem 0.35rem;
  @include tab {
    min-width: $sp-min;
    width: 100%;
    padding: 0.7rem 0.3rem 0.2rem 0.3rem;
  }
}

.footer {
  max-width: $pc-lg;
  width: 100%;
  padding: 0.25rem 0 0 0;
  text-align: right;
  @include tab {
    padding-bottom: 0.4rem;
  }
}

.nav_bottom {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  @include tab {
    display: block;
  }
}
