@import "../../../styles/properties";

.root {
  display: flex;
  justify-content: center;
  @include sp {
    flex-direction: column;
    align-items: center;
  }
}

.legend {
  align-self: center;
  padding-left: 7%;
  @include sp {
    width: 185px;
  }
}
